html, body {
  background-color: #34495e !important;
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'PT Sans', sans-serif;
}

.padd-right-5 {
  padding-right: 5px;
}

.marg-left-5 {
  margin-left: 5px;
}

.marg-top-5 {
  margin-top: 5px;
}

.marg-bott-0 {
  margin-bottom: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  line-height: 60px;
  background-color: #2c3e50
}