html {
  background-color: #34495e !important;
  /* font-family: "PT Sans", sans-serif; */
  font-family: 'Questrial', sans-serif;

  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  background-color: #34495e !important;
  /* font-family: "PT Sans", sans-serif; */
  font-family: 'Questrial', sans-serif;

}

.fn-text {
  font-family: 'Luckiest Guy', cursive !important;
  font-weight: 100 !important;
}

.l-grey {
  color: gainsboro !important;
}

.navbar-dark .navbar-toggler {
  border: 0px !important;
  outline: none !important;
}

.userstatsbody {
  background-color: #34495e !important;
}

.commonbg {
  background-image: url("./assets/images/backgrounds/commonbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.rarebg {
  background-image: url("./assets/images/backgrounds/rarebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.epicbg {
  background-image: url("./assets/images/backgrounds/epicbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.uncommonbg {
  background-image: url("./assets/images/backgrounds/uncommonbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.legendarybg {
  background-image: url("./assets/images/backgrounds/legendarybg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.weaponImg {
  width: 65% !important;
}

.icon-style {
  margin-top: 2px !important;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
button,
input, 
label,
input[type="email"],
input[type="text"]  {
  font-family: 'Questrial', sans-serif;
  color: white;
}

.padd-right-5 {
  padding-right: 5px;
}

.cardBackground {
  background-color: rgb(44, 62, 80) !important;
}

.stats-head {
  font-weight: 800;
  font-size: 18px !important;
}

.card-header-text {
  color: #fff;
}

.alert-heading {
  color: #d1d8e0 !important;
  font-weight: bold;
}

a:hover {
  color: #ffffff;
  text-decoration: none !important;
}

.mailing-alert {
  background-color: rgb(44, 62, 80) !important;
  border: 0px !important;
}

.signupbtn {
  color: #ffa502 !important;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 18px;
}

.signupbtn:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.signup-text {
  color: #a5b1c2;
}

.newsAdspace {
  position: absolute;
  top: 5;
  right: 0;
  color: white;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 8px;
  padding-top: 10px;
  font-weight: 800;
  background-color: #c0392b;
  border: 2px solid white;
  border-radius: 5px;
  font-style: italic;
  line-height: 1;
  font-weight: 100;
}

.zoom {
  transition: transform 0.3s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 10px #333);
}

.wep-zoom {
  transition: transform 0.3s;
}

.wep-zoom:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0 10px #333);
}

.cardBody {
  color: #bdc3c7 !important;
}

.cardTitle {
  font-size: 16px;
  color: #ecf0f1 !important;
}

.weapon-card-body {
  padding: 5px 20px 15px 20px !important;
}

.weapon-dmg-container {
  padding-bottom: 10px;
}

.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 1000;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.min-h-100 {
  min-height: 100% !important;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-space {
  margin-bottom: 8rem;
}

.align-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marg-left-5 {
  margin-left: 5px;
}

.padd-top-5 {
  padding-top: 5px;
}

.marg-top-5 {
  margin-top: 5px;
}

.marg-top-10 {
  margin-top: 10px;
}

.top-bott-0 {
  margin-bottom: 0px;
}

/* // Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px) {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #2c3e50;
  }

  body {
    margin-bottom: 50px;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1920px) {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #2c3e50;
  }
  body {
    margin-bottom: 50px;
  }
}
/* // Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background-color: #2c3e50;
  }

  body {
    margin-bottom: 90px;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background-color: #2c3e50;
  }

  .icon-bar {
    display: none;
  }

  body {
    margin-bottom: 90px;
  }
}
